#cadastro{

	.tit{
		font-family: $font1_bold;
		font-size: 48px;
		text-align: center;
		margin: 40px 0;
		margin-bottom: 30px;
	}

	.escolha{
		text-align: center;

		a{
			text-decoration: none;

			.tipo-usuario{
				padding: 100px 0;
				border-radius: 20px;
				margin: 20px 0;

				@include desktop{
					display: inline-block;
					width: 48%;
					padding: 160px 0;
					margin: 0 10px;
					vertical-align: top;
				}

				h1{
					font-family: $font1_bold;
					font-size: 48px;
					color: #ffffff;
					text-align: center;
				}
			}

			.verde{
				background-color: $green;
				-webkit-box-shadow: 0px 0px 10px 3px rgba(106,176,76,1);
				-moz-box-shadow: 0px 0px 10px 3px rgba(106,176,76,1);
				box-shadow: 0px 0px 10px 3px rgba(106,176,76,1);
			}

			.azul{
				background-color: #30336b;
				-webkit-box-shadow: 0px 0px 10px 3px rgba(48,51,107,1);
				-moz-box-shadow: 0px 0px 10px 3px rgba(48,51,107,1);
				box-shadow: 0px 0px 10px 3px rgba(48,51,107,1);
			}
		}
	}

	#grow {
	    /* overflow set to hidden to hide the expanded text */
	    overflow: hidden;
	    /* all style changes will ease-in-out for 1s */
	    -moz-transition: all 1s ease-in-out;
	    -ms-transition: all 1s ease-in-out;
	    -o-transition: all 1s ease-in-out;
	    -webkit-transition: all 1s ease-in-out;
	    transition: all 1s;
	}

	form{
		display: none;
		padding: 0 20px;
	}
}