.navbar-default{
	position: fixed;
	width: 100%;
	background-color: $green;
	border: none;
	border-radius: 0;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	z-index: 100;

	.navbar-header{

		ul{

			li{

				a{
					font-family: $font1_bold;
					font-size: 18px;
					color: #ffffff;
					padding: 20px;

					&:hover{
						font-family: $font1_bold;
						color: #ffffff;
						border-bottom: 3px solid #ffffff;
					}

					&:focus{
						color: #ffffff;
					}
				}

				.active{
					font-family: $font1_bold;
					color: #ffffff;
					border-bottom: 3px solid #ffffff;
				}
			}
		}
	}
}