@font-face {
    font-family: 'comfortaa-light';
    src: url('../webfonts/Comfortaa-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'comfortaa-regular';
    src: url('../webfonts/Comfortaa-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'comfortaa-bold';
    src: url('../webfonts/Comfortaa-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}